<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Marko Blog">
    <title>Marko - Blog Creation Demo</title>
  </head>
  <body>
    <${input.renderBody}/>
  </body>
</html>

style {
  html,
  body {
    font-family: system-ui;
    padding: 0;
    margin: 0;
  }
  a {
    color: #09c;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #333;
    height: 100%;
    width: 100%;
    min-height: 100vh;
  }
}
